<?xml version="1.0" encoding="utf-8"?>

<!-- Craig Burke S2024071-->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.me.gcu.trafficscotlandmpd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:fullBackupContent="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- could not setup google cloud account for API key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="org.me.gcu.trafficscotlandmpd.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.me.gcu.trafficscotlandmpd.ItemList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.me.gcu.trafficscotlandmpd.MainActivity" />
        </activity>

        <activity android:name="org.me.gcu.trafficscotlandmpd.ItemOverview">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.me.gcu.trafficscotlandmpd.ItemList" />
        </activity>

    </application>

</manifest>
